body {
  background-color: rgb(228, 228, 228);
  margin:0;
  padding:0;
}

ul{
  position:absolute;
  top:19px;
  right:0;
  list-style-type: none;
  padding:0;
  margin:0;
}

.menu-title{
  position:absolute;
  right:0;
  margin:0;
  padding:2px 5px 2px 5px;
  background-color: rgba(255, 255, 255, 0.749);
  border:none;
}

.btn{
  position:absolute;
  top:50%;
}

.dropdown-menu{
  display:none;
}

.dropdown-menu>li{
  background-color: rgba(255, 255, 255, 0.661);
  padding:5px;
  padding-right:40px;
}

.visible {
  display:block;
  animation-name:menuDrop;
  animation-duration:1s;
  transform-origin: top;
}

@keyframes menuDrop{
  from{
    transform: scaleY(0);
    opacity:0%;
  }
  to{
    transform:scaleY(1);
    opacity:100%;
  }
}

.strip{
  display:flex;
  overflow:auto;
}

.strip::-webkit-scrollbar{
  display:none;
}

.strip>img{
  min-width:100vw;
  height:100vh;
}